doctype html

html(lang ='en-us')

  head

    title Meadowlark Site

    if showTest

      link(rel ='stylesheet' , href ='/vendor/mocha.css')

    script(src ='/javascripts/jquery-3.3.1.js')

  body

    header

      img(src ='/images/one.jpg' alt ='Meadowlark Travel' width ='200' height = '60')

    block content

    if showTest

    #mocha

    script(src ='/vendor/mocha.js')

    script(src ='/vendor/chai.js')

    script(type ='text/javascript')

      
      


    script(src ='/qa/tests-global.js')

    if pageTestScript

      script(src ='' + pageTestScript)

    script(src ='/javascripts/script.js')

       